In [54]:
import json
import requests
import pandas as pd
import os
import pickle
import numpy as np
import random

## Questão nº1:
## Salve a base de dados escolhida no seu drive e importe para um notebook do Colab, criando um Dataframe

In [55]:
from google.colab import drive
drive.mount('/drive')
vinhos = pd.read_csv("/drive/MyDrive/class_wine_quality.csv")
data = pd.DataFrame(vinhos)

display(data[0:])

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

## Questão nº2:
## Inspecione as colunas do conjunto de dados (Nome das colunas e tipo de dados)

In [56]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
None

## Questão nº3:
## Escolha uma coluna com valores numéricos e apague todas as linhas que possuam valor nulo

In [57]:
nova_data = data.dropna(axis=0, subset=["alcohol"])

## Questão n°4:
## Calcule a média desta mesma coluna

In [58]:
media1 = nova_data["alcohol"].mean()
print(media1)

10.422983114446529

## Questão nº5:
## Escolha um critério para eliminar as linhas que possuam valores muito distantes da média e crie um novo Dataframe.

In [59]:
# usarei padrão do valor ser 2 maior ou 2 menor
for j, n in enumerate(nova_data.alcohol):
  if (n < (media1 + 2) and n > (media1 - 2)):
    nova_data.drop(labels=[j], axis = 0, inplace = True)
  
nova_data_2 = nova_data
media2 = nova_data_2["alcohol"].mean()
print(media2)

12.846953405017919

## Questão n°6:
## Crie um novo Dataframe que contenha apenas 5 colunas do conjunto anterior.

In [60]:
nova_data_3 = nova_data_2[['fixed acidity', 'quality', 'citric acid', 'pH', 'alcohol']]
  
print(nova_data_3)

      fixed acidity  quality  citric acid    pH    alcohol
45              4.6        4         0.15  3.90  13.100000
95              4.7        6         0.17  3.85  12.900000
131             5.6        5         0.09  3.63  13.000000
132             5.6        5         0.09  3.63  13.000000
142             5.2        6         0.00  3.68  14.000000
...             ...      ...          ...   ...        ...
1471            6.7        5         0.08  3.43  12.600000
1475            5.3        7         0.11  3.54  13.566667
1477            5.3        7         0.11  3.54  13.600000
1573            6.0        6         0.20  3.58  12.500000
1588            7.2        6         0.33  3.27  12.800000

[93 rows x 5 columns]

## Questão n°7:
## Escolha duas colunas numéricas e crie uma nova coluna que siga a regra: (Coluna A - Coluna B)*número aleatório (entre 0 e 1).

In [61]:
nova_data_3.insert(1, 'Ph_x_Alcohol', ((nova_data_3['pH'] + nova_data_3['alcohol']) * random.random()).astype(float))
print(nova_data_3)
display(nova_data_3)

      fixed acidity  Ph_x_Alcohol  quality  citric acid    pH    alcohol
45              4.6      2.263920        4         0.15  3.90  13.100000
95              4.7      2.230627        6         0.17  3.85  12.900000
131             5.6      2.214646        5         0.09  3.63  13.000000
132             5.6      2.214646        5         0.09  3.63  13.000000
142             5.2      2.354477        6         0.00  3.68  14.000000
...             ...           ...      ...          ...   ...        ...
1471            6.7      2.134743        5         0.08  3.43  12.600000
1475            5.3      2.278125        7         0.11  3.54  13.566667
1477            5.3      2.282564        7         0.11  3.54  13.600000
1573            6.0      2.141402        6         0.20  3.58  12.500000
1588            7.2      2.140070        6         0.33  3.27  12.800000

[93 rows x 6 columns]

      fixed acidity  Ph_x_Alcohol  quality  citric acid    pH    alcohol
45              4.6      2.263920        4         0.15  3.90  13.100000
95              4.7      2.230627        6         0.17  3.85  12.900000
131             5.6      2.214646        5         0.09  3.63  13.000000
132             5.6      2.214646        5         0.09  3.63  13.000000
142             5.2      2.354477        6         0.00  3.68  14.000000
...             ...           ...      ...          ...   ...        ...
1471            6.7      2.134743        5         0.08  3.43  12.600000
1475            5.3      2.278125        7         0.11  3.54  13.566667
1477            5.3      2.282564        7         0.11  3.54  13.600000
1573            6.0      2.141402        6         0.20  3.58  12.500000
1588            7.2      2.140070        6         0.33  3.27  12.800000

[93 rows x 6 columns]

## Questão n°8:
## Embaralhe aleatoriamente o dataframe (índices e valores).

In [62]:
nova_data_4 = nova_data_3.reindex(np.random.permutation(nova_data_3.index))
print(nova_data_4)
display(nova_data_4)

      fixed acidity  Ph_x_Alcohol  quality  citric acid    pH  alcohol
533            10.3      2.133412        6         0.24  3.22     12.8
996             5.6      2.198666        7         0.00  3.71     12.8
1150            8.2      2.144065        7         0.32  3.30     12.8
1316            5.4      2.198666        6         0.00  4.01     12.5
729             6.4      2.172031        6         0.03  3.61     12.7
...             ...           ...      ...          ...   ...      ...
1018            8.0      2.076148        6         0.37  2.89     12.7
95              4.7      2.230627        6         0.17  3.85     12.9
1120            7.9      2.170700        8         0.34  3.20     13.1
330            10.2      2.094792        6         0.64  3.23     12.5
353            13.5      2.154719        5         0.79  3.18     13.0

[93 rows x 6 columns]

      fixed acidity  Ph_x_Alcohol  quality  citric acid    pH  alcohol
533            10.3      2.133412        6         0.24  3.22     12.8
996             5.6      2.198666        7         0.00  3.71     12.8
1150            8.2      2.144065        7         0.32  3.30     12.8
1316            5.4      2.198666        6         0.00  4.01     12.5
729             6.4      2.172031        6         0.03  3.61     12.7
...             ...           ...      ...          ...   ...      ...
1018            8.0      2.076148        6         0.37  2.89     12.7
95              4.7      2.230627        6         0.17  3.85     12.9
1120            7.9      2.170700        8         0.34  3.20     13.1
330            10.2      2.094792        6         0.64  3.23     12.5
353            13.5      2.154719        5         0.79  3.18     13.0

[93 rows x 6 columns]

## Quesão n°9:
## Ordene o Dataframe seguindo um critério definido por você (Explique o critério)

In [63]:
#Ordenado a partir da coluna "alcohol"
nova_data_4.sort_values(by='alcohol', ascending=True)
print(f"The first wine is: {nova_data_4['alcohol']}")
display(nova_data_4)
print(nova_data_4)

The first wine is: 533     12.8
996     12.8
1150    12.8
1316    12.5
729     12.7
        ...
1018    12.7
95      12.9
1120    13.1
330     12.5
353     13.0
Name: alcohol, Length: 93, dtype: float64

      fixed acidity  Ph_x_Alcohol  quality  citric acid    pH  alcohol
533            10.3      2.133412        6         0.24  3.22     12.8
996             5.6      2.198666        7         0.00  3.71     12.8
1150            8.2      2.144065        7         0.32  3.30     12.8
1316            5.4      2.198666        6         0.00  4.01     12.5
729             6.4      2.172031        6         0.03  3.61     12.7
...             ...           ...      ...          ...   ...      ...
1018            8.0      2.076148        6         0.37  2.89     12.7
95              4.7      2.230627        6         0.17  3.85     12.9
1120            7.9      2.170700        8         0.34  3.20     13.1
330            10.2      2.094792        6         0.64  3.23     12.5
353            13.5      2.154719        5         0.79  3.18     13.0

[93 rows x 6 columns]

      fixed acidity  Ph_x_Alcohol  quality  citric acid    pH  alcohol
533            10.3      2.133412        6         0.24  3.22     12.8
996             5.6      2.198666        7         0.00  3.71     12.8
1150            8.2      2.144065        7         0.32  3.30     12.8
1316            5.4      2.198666        6         0.00  4.01     12.5
729             6.4      2.172031        6         0.03  3.61     12.7
...             ...           ...      ...          ...   ...      ...
1018            8.0      2.076148        6         0.37  2.89     12.7
95              4.7      2.230627        6         0.17  3.85     12.9
1120            7.9      2.170700        8         0.34  3.20     13.1
330            10.2      2.094792        6         0.64  3.23     12.5
353            13.5      2.154719        5         0.79  3.18     13.0

[93 rows x 6 columns]

## Questão n°10:
## Escolha uma coluna numérica e um coluna com strings e utilize a função Groupby para mostrar os totais da  coluna.

In [64]:
#minha base não tem strings, então vou utilizar uma coluna int com uma float

grupo = nova_data_4.groupby('quality')[['alcohol']].count()

display(grupo)

         alcohol
quality
3              1
4              1
5              9
6             41
7             32
8              9

## Questão n°11:
## Utilize a função MAPS para fazer algum tipo de substituição no Dataframe (explique)

In [65]:
  nova_data_4['quality'] = nova_data_4['quality'].map({3: 'Muito ruim', 4: 'Ruim', 5: 'Mediano', 6: 'Bom', 7: 'Muito bom', 8: 'Excelente'})
  print(nova_data_4)
  display(nova_data_4)

      fixed acidity  Ph_x_Alcohol    quality  citric acid    pH  alcohol
533            10.3      2.133412        Bom         0.24  3.22     12.8
996             5.6      2.198666  Muito bom         0.00  3.71     12.8
1150            8.2      2.144065  Muito bom         0.32  3.30     12.8
1316            5.4      2.198666        Bom         0.00  4.01     12.5
729             6.4      2.172031        Bom         0.03  3.61     12.7
...             ...           ...        ...          ...   ...      ...
1018            8.0      2.076148        Bom         0.37  2.89     12.7
95              4.7      2.230627        Bom         0.17  3.85     12.9
1120            7.9      2.170700  Excelente         0.34  3.20     13.1
330            10.2      2.094792        Bom         0.64  3.23     12.5
353            13.5      2.154719    Mediano         0.79  3.18     13.0

[93 rows x 6 columns]

      fixed acidity  Ph_x_Alcohol    quality  citric acid    pH  alcohol
533            10.3      2.133412        Bom         0.24  3.22     12.8
996             5.6      2.198666  Muito bom         0.00  3.71     12.8
1150            8.2      2.144065  Muito bom         0.32  3.30     12.8
1316            5.4      2.198666        Bom         0.00  4.01     12.5
729             6.4      2.172031        Bom         0.03  3.61     12.7
...             ...           ...        ...          ...   ...      ...
1018            8.0      2.076148        Bom         0.37  2.89     12.7
95              4.7      2.230627        Bom         0.17  3.85     12.9
1120            7.9      2.170700  Excelente         0.34  3.20     13.1
330            10.2      2.094792        Bom         0.64  3.23     12.5
353            13.5      2.154719    Mediano         0.79  3.18     13.0

[93 rows x 6 columns]

## Questão n°12:
## Exporte o último Dataframe para um arquivo CSV e salve no seu drive

In [66]:
nova_data_4.to_csv("/drive/MyDrive/nova_data_4_vinhos.csv")

## Questão n°13:
## Exporte o mesmo Dataframe para um arquivo JSON e salve no seu drive

In [67]:
nova_data_4.to_json(r'/drive/MyDrive/nova_data_4_vinhos_js.json')

## Questão n°14:
## Salve o Notebook no seu repositório do Github junto com os arquivos exportados.